<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		To Do List
	</title>
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<div class="box" id="heading">
		<h1><%= listTitle %></h1>
	</div>

	<div class="box">
		<ul>
			<% for(var i=0; i<newListItems.length; i++){ %>
			<div class="item">
				<input type="checkbox">
				<p><%= newListItems[i] %></p>
			</div>
			<% } %>

			<form action="/" method="post">
				<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
				<button type="submit" name="list" value="<%= listTitle %>">+</button>
			</form>
		</ul>
	</div>
</body>
</html>